name: Build and deploy Node.js app to Azure Web App - todox-webapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

    
      # ===== BACKEND =====
      - name: Install backend
        run: npm install --prefix backend

      # ===== PREPARE DEPLOY PACKAGE =====
      - name: Prepare deploy folder
        run: |
          mkdir deploy
          cp -r backend/* deploy/
          mkdir -p deploy/frontend
          cp -r frontend/dist deploy/frontend/dist

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: deploy

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: .

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: todox-webapp
          slot-name: Production
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_BBCDBB813DC74D77B65FBFCBA76D353D }}
          package: .
